<ul>
    <li><a href="@Url.Action("Create", "Students")">Register Student</a></li>
    <li><a href="@Url.Action("Index", "Students")">Students List</a></li>
    <li><a href="@Url.Action("Index", "Grades")">Grades</a></li>
</ul>
